<html>
    <head>
        <title>
            Express new
        </title>
    </head>
    <body>
        <form method="post" action="/create">
            <input type="text" name="name">
            <input type="submit" value="create!">
        </form>
    </body>
</html>